body.background {
  margin: 0px;
  max-height: 100%;
  background-color: #D1D1D1;
  /*background-color: #E2E2E2;*/
  display: none;
}

i.icon-coffee {
  padding-left: 8px;
}

div.navbar>div.center>button.navbar>p.login-register-title {
  padding-top: 0px;
  margin: 0px 0px 0px 0px;
  font-size: 50px;
  display: inline-block;
  font-family: 'jacques_francois_shadowRg';
  color: inherit;
  background-color: inherit;
}

div.navbar {
  height: 100px;
  width: 100%;
  margin-left: 0px;
  margin-top: -10px;
  background-color: #3A3A3A;
}

div.navbar>div.center {
  width: 901px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3A3A3A;
}

div.navbar>div.center>div.left {
  height: 40px;
  width: 150px;
  font-size: 25px;
  border: 0px;
  display: inline-block;
  background-color: #3A3A3A;
  color: #E2E2E2;
  font-family: 'Great Vibes';
  text-align: center;
}

div.navbar>div.center>div.right {
  height: 38px;
  width: 150px;
  border: 0px;
  display: inline-block;
  background-color: #3A3A3A;
  color: #E2E2E2;
  font-family: 'Great Vibes';
  text-align: center;
}

div.navbar>div.center>div.right>a {
  color: #E2E2E2;
  background-color: #3A3A3A;
  font-family: 'jacques_francoisregular';
  font-size: 20px;
}

div.navbar>div.center>div.right>a:hover {
  color: #FF0033;
  background-color: #3A3A3A;
  font-family: 'jacques_francoisregular';
  font-size: 20px;
}

div.navbar>div.center>button.navbar {
  padding-top: 8px;
  height: 100px;
  width: 300px;
  border: 0px;
  font-family: 'droid_serifregular';
  font-size: 80px;
  display: inline-block;
  cursor: pointer;
  background-color: #3A3A3A;
  color: #E2E2E2;
  transition: color 0.1s;
  -moz-transition: color 0.1s; /* Firefox 4 */
  -webkit-transition: color 0.1s; /* Safari and Chrome */
  -o-transition: color 0.1s; /* Opera */
  transition: background-color 0.1s;
  -moz-transition: background-color 0.1s; /* Firefox 4 */
  -webkit-transition: background-color 0.1s; /* Safari and Chrome */
  -o-transition: background-color 0.1s; /* Opera */
}

div.navbar>div.center>button.navbar:hover {
  height: 100px;
  background-color: #E2E2E2;
  color: #3A3A3A;
}

div.navbar>div.center>button.navbar:focus {
  height: 100px;
  background-color: #E2E2E2;
  color: #3A3A3A;
}

div.navbar>div.center>button.navbar.selected {
  height: 100px;
  background-color: #E2E2E2;
  color: #3A3A3A;
}

div.navbar>div.center>button.navbar>span.title {
  font-size: 30px;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

div.navbar>div.center>button.navbar.selected>span.title {
  font-size: 30px;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

div.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 901px;
  height: 500px;
  display: block;
}

div#sidebar-left {
  position: relative;
  top: 50px;
  display: inline-block;
  width: 150px;
  height: 500px;
  float: left;
}

div#sidebar-left button.sidebar-button {
  float: right;
  padding-top: 0px;
  padding-left: 0px;
  height: 80px;
  width: 80px;
  border: 0px;
  font-family: 'jacques_francois_shadowRg';
  font-size: 45px;
  display: inline-block;
  cursor: pointer;
  background-color: #D1D1D1;
  color: #FFFFFF;
  transition: color 0.1s;
  -moz-transition: color 0.1s; /* Firefox 4 */
  -webkit-transition: color 0.1s; /* Safari and Chrome */
  -o-transition: color 0.1s; /* Opera */
  transition: background-color 0.1s;
  -moz-transition: background-color 0.1s; /* Firefox 4 */
  -webkit-transition: background-color 0.1s; /* Safari and Chrome */
  -o-transition: background-color 0.1s; /* Opera */

  -moz-border-radius: 10px 0px 10px 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius: 10px 0px 0px 10px;
}

div#sidebar-left button.sidebar-button:hover {
  background-color: #E2E2E2;
  color: #3A3A3A;
}

div#sidebar-left button.sidebar-button:focus {
  background-color: #E2E2E2;
  color: #3A3A3A;
}

div#sidebar-left button.sidebar-button.selected {
  background-color: #E2E2E2;
  color: #3A3A3A;
}

div.page {
  background-color: #E2E2E2;
  width: 600px;
  height: 500px;
  display: inline-block;
}

div#sidebar-right {
  display: inline-block;
  width: 150px;
  height: 500px;
  float: right;
}

div.page>div.msgbox {
  padding-top: 35px;
  margin-bottom: -35px;
  height: 100px;
  width: 600px;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: 'jacques_francoisregular';
  color: #3A3A3A;
}

div.page>div.statusbox {
  height: 100px;
  width: 600px;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: 'jacques_francoisregular';
}

div.page>form.login-register {
  padding-right:12.5px;
  padding-left:12.5px;
  background-color: #E2E2E2;
  border: 0px;
  width: 275px;
  height: 167px;
  margin-left: auto;
  margin-right: auto;
}

div.page>form.login-register>input {
  border: 1px solid #E2E2E2;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 263px;
  height: 38px;
  font-size: 20px;
  font-family: 'jacques_francoisregular';
  text-align: center;
  outline: none;
  color: #3A3A3A;
  box-shadow: 0px 0px 2px 1px #E2E2E2 inset;
}

div.page>form.login-register>input.default {
  color: #AFA99D;
}

div.page>form.login-register>button {
  margin-top: 1px;
  margin-left: 1px;
  outline: 1px solid #E2E2E2;
  border: 1px solid #E2E2E2;
  background-color: #3A3A3A;
  margin-right: auto;
  width: 273px;
  height: 43px;
  font-family: 'jacques_francoisregular';
  color: #E2E2E2;
  font-size: 20px;
}

div.page>form.login-register>button:focus {
  outline: 1px solid #FFFFFF;
  border: 0px;
}

div.page>form.login-register>button:hover {
  outline: 1px solid #FFFFFF;
  border: 0px;
  cursor: pointer;
}

div.page>div.left {
  margin-right:12.5px;
  margin-left:12.5px;
  background-color: #E2E2E2;
  border: 0px;
  width: 275px;
  height: 167px;
  float: left;
  display: inline-block;
}

div.page>div.right {
  margin-right:12.5px;
  margin-left:12.5px;
  background-color: #E2E2E2;
  border: 0px;
  width: 275px;
  height: 167px;
  float: right;
  display: inline-block;
}

div.page>div.center {
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  background-color: #E2E2E2;
  border: 0px;
  display: block;
}

div.page>div.center.small {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 275px;
  background-color: #E2E2E2;
  border: 0px;
  display: block;
}

div.page>div.center.medium {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 425px;
  background-color: #E2E2E2;
  border: 0px;
  display: block;
}

table#confirm-payments {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 425px;
  height: 138px;
  background-color: #FFFFFF;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 1px #FFFFFF;
}

table#confirm-payments td {
  padding-left: 5px;
  font-size: 15px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: center;
  color: #3A3A3A;
  width: 110px;
  display: inline-block;
}

table#confirm-payments td.name {
  padding-left: 5px;
  font-size: 15px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: center;
  color: #3A3A3A;
  width: 80px;
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
}

table#confirm-payments td.email {
  padding-left: 5px;
  font-size: 15px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: center;
  color: #3A3A3A;
  width: 190px;
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
}

table#confirm-payments td.amount {
  padding-left: 5px;
  font-size: 15px;
  background-color: #FFFFFF;
  font-family: 'droid_serifregular';
  text-align: left;
  color: #3A3A3A;
  width: 70px;
  display: inline-block;
  padding-top:2px;
  padding-bottom:2px;
}

table#confirm-payments td.button {
  font-size: 15px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: center;
  color: #3A3A3A;
  width: 60px;
  display: inline-block;
}

table#confirm-payments td.button button {
  margin-left: auto;
  outline: 1px solid #E2E2E2;
  border: 1px solid #E2E2E2;
  background-color: #3A3A3A;
  margin-right: auto;
  width: 58px;
  height: 20px;
  font-family: 'jacques_francoisregular';
  color: #E2E2E2;
  font-size: 15px;
  display: inline-block;
  padding-top:0px;
  padding-bottom:0px;
}

table#confirm-payments td.button button:focus {
  outline: 1px solid #FFFFFF;
  border: 0px;
}

table#confirm-payments td.button button:hover {
  outline: 1px solid #FFFFFF;
  border: 0px;
  cursor: pointer;
}

div.page>div>div.info {
  padding-top: 10px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  font-size: 18px;
  font-family: 'jacques_francoisregular';
}

div.page form label {
  height: 28px;
  background-color: #FFFFFF;
  color: #3A3A3A;
  display: inline-block;
  border: 0px;
  outline: none;
  padding-left: 5px;
}

div.page form.add-coffee input {
  border: 0px;
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: 60px;
  height: 26px;
  font-size: 20px;
  font-family: 'droid_serifregular';
  text-align: right;
  outline: none;
  color: #3A3A3A;
  display: inline-block;
}

div.page form.add-coffee button {
  margin-top: 1px;
  margin-left: 1px;
  outline: 1px solid #E2E2E2;
  border: 1px solid #E2E2E2;
  background-color: #3A3A3A;
  margin-right: auto;
  width: 273px;
  height: 43px;
  font-family: 'jacques_francoisregular';
  color: #E2E2E2;
  font-size: 20px;
}

div.page form.add-coffee button:focus {
  outline: 1px solid #FFFFFF;
  border: 0px;
}

div.page form.add-coffee button:hover {
  outline: 1px solid #FFFFFF;
  border: 0px;
  cursor: pointer;
}

button.selected i.icon-coffee {
  color: #331A00;
}

button:focus i.icon-coffee {
  color: #331A00;
}

button:hover i.icon-coffee {
  color: #331A00;
}

button.selected i.icon-thumbs-up {
  color: #00FF66;
}

button:hover i.icon-thumbs-up {
  color: #00FF66;
}

button:focus i.icon-thumbs-up {
  color: #00FF66;
}

button.selected i.icon-key-1 {
  color: #FFCC33;
}

button:focus i.icon-key-1 {
  color: #FFCC33;
}

button:hover i.icon-key-1 {
  color: #FFCC33;
}

button.selected i.icon-edit-1 {
  color: #FF9966;
}

button:hover i.icon-edit-1 {
  color: #FF9966;
}

button:focus i.icon-edit-1 {
  color: #FF9966;
}

button.selected i.icon-home-2 {
  color: #0066FF;
}

button:focus i.icon-home-2 {
  color: #0066FF;
}

button:hover i.icon-home-2 {
  color: #0066FF;
}

button.selected i.icon-back-in-time {
  color: #FFFF33;
}

button:focus i.icon-back-in-time {
  color: #FFFF33;
}

button:hover i.icon-back-in-time {
  color: #FFFF33;
}

button.selected i.icon-dollar {
  color: #339933;
}

button:focus i.icon-dollar {
  color: #339933;
}

button:hover i.icon-dollar {
  color: #339933;
}

button.selected i.icon-cart {
  color: #FFFF33;
}

button:hover i.icon-cart {
  color: #FFFF33;
}

button:focus i.icon-cart {
  color: #FFFF33;
}

div.page table.stock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #FFFFFF;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 1px #FFFFFF;
}

div.page table.stock td {
  padding-left: 5px;
  font-size: 20px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: center;
  color: #3A3A3A;
  width: 91px;
}

div.page form.add-stock input {
  width: 91px;
  border: 0px;
  background-color: #E2E2E2;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 15px;
  height: 26px;
  font-size: 20px;
  font-family: 'droid_serifregular';
  text-align: right;
  outline: none;
  color: #3A3A3A;
  display: inline-block;
  box-shadow: 0px 0px 1px 1px #FFFFFF inset;
}

div.page form.add-stock input.stock-cost {
  width: 70px;
  border: 0px;
  background-color: #E2E2E2;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
  height: 22px;
  font-size: 20px;
  font-family: 'droid_serifregular';
  text-align: right;
  outline: none;
  color: #3A3A3A;
  display: inline-block;
  box-shadow: 0px 0px 0px 0px #FFFFFF inset;
}

div.page form.add-stock span.stock-cost {
  width: 95px;
  height: 26px;
  display: inline-block;
  padding-left: 7px;
  margin-right: 3px;
  font-size: 20px;
  text-align: left;
  background-color: #E2E2E2;
  box-shadow: 0px 0px 1px 1px #FFFFFF inset;
}

div.page form.add-stock button {
  margin-top: 2px;
  margin-left: auto;
  outline: 1px solid #E2E2E2;
  border: 1px solid #E2E2E2;
  background-color: #3A3A3A;
  margin-right: auto;
  width: 423px;
  height: 43px;
  font-family: 'jacques_francoisregular';
  color: #E2E2E2;
  font-size: 20px;
  display: block;
}

div.page form.add-stock button:focus {
  outline: 1px solid #FFFFFF;
  border: 0px;
}

div.page form.add-stock button:hover {
  outline: 1px solid #FFFFFF;
  border: 0px;
  cursor: pointer;
}

div.page form.add-stock select, div.page form.add-stock select:active {
  background-color: #E2E2E2;
  overflow: hidden;
  width: 90px;
  height: 25px;
  font-family: 'jacques_francoisregular';
  font-size: 18px;
  color: #3A3A3A;
  outline: none;
  border: 0px;
  margin-bottom: 1px;
}

div.page table.summary {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #FFFFFF;
  border-collapse: collapse;
  box-shadow: 0px 0px 2px 1px #FFFFFF;
}

table.summary td.key {
  padding-left: 5px;
  font-size: 20px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: left;
  color: #3A3A3A;
  width: 190px;
}

table.summary td.unit {
  font-size: 20px;
  background-color: #FFFFFF;
  font-family: 'jacques_francoisregular';
  text-align: left;
  color: #3A3A3A;
  width: 10px;
}

table.summary td.value {
  font-size: 20px;
  background-color: #FFFFFF;
  font-family: 'droid_serifregular';
  text-align: center;
  color: #3A3A3A;
  width: 73px;
}

div.page div.small span {
  width: 275px;
  font-size: 35px;
  font-family: 'jacques_francoisregular';
  text-align: center;
  display: inline-block;
  color: #3A3A3A;
}

div.page>div.center.medium span.center.medium {
  width: 425px;
  font-size: 35px;
  font-family: 'jacques_francoisregular';
  text-align: center;
  display: inline-block;
  color: #3A3A3A;
}

div.page form span.input {
  width: 275px;
  height: 33px;
  padding-top: 7px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'jacques_francoisregular';
  text-align: center;
  display: inline-block;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px 1px #E2E2E2 inset;
}
